body {
    background: radial-gradient(circle, #000000, #003366);
    background-repeat: no-repeat;
    background-attachment: fixed; /* 固定背景，隨螢幕滾動 */
    background-size: cover; /* 確保背景覆蓋整個螢幕 */
    color: #FFFFFF;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-brand, .nav-link {
    color: #FFFFFF !important;
}

.nav-link:hover {
    color: #0066FF !important;
}

.carousel-item img {
    height: 70vh;
    object-fit: cover;
}

.glow {
    text-shadow: 0 0 10px #0066FF, 0 0 20px #0066FF, 0 0 30px #0066FF;
}

.btn-custom {
    background-color: #0066FF;
    border-color: #0066FF;
    color: #FFFFFF;
}

.btn-custom:hover {
    background-color: #0055CC;
    border-color: #0055CC;
    color: #FFFFFF;
}

/* 團隊歷史頁面樣式 */
.timeline {
    position: relative;
    padding: 20px 0;
    padding-bottom: 50px;
}

.timeline::before {
    content: '';
    background: #0066FF;
    width: 2px;
    height: 80%;
    position: absolute;
    left: 50%;
    transform: 100%;
}
.timeline::after {
    content: '';
    position: absolute;
    bottom: 17%;
    left: 50.1%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 15px 10px 0 10px;
    border-color: #0066FF transparent transparent transparent;
}
.timeline-item {
    width: 100%;
    margin-bottom: 70px;
    display: flex;
    justify-content: flex-start;
}

.timeline-item:nth-child(even) {
    justify-content: flex-end;
}

.timeline-content {
    width: 48%;
    padding: 20px;
    background: rgb(17,24,39);
    box-shadow: 0 0 10px #46a3ff;
    position: relative;
}

.timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 50px;
    right: -13px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent rgb(17,24,39);
}

.timeline-item:nth-child(even) .timeline-content::after {
    left: -13px;
    border-width: 10px 15px 10px 0;
    border-color: transparent rgb(17,24,39) transparent transparent;
}

.timeline-content .date {
    position: absolute;
    top: 0;
    right: 0;
    background: #0066FF;
    padding: 10px;
    font-size: 12px;
}